body, html {
    height: 100%;
    margin: 0;
}
.full-height-image {
    max-height: 90%;
    margin: auto;
    object-fit: cover;
    opacity: 0; /* Start fully transparent */
    transition: opacity 4s ease-in-out; /* Smooth fade-in effect */
}

.fade-in {
    opacity: 1;
}

.image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.highlight {
    position: absolute;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 255, 0); /* Semi-transparent blue */
    animation: draw-border 12s ease forwards, fill-background 1s ease forwards 2s, zoom-out 2s ease forwards 4s;
    transform-origin: center;
}


@keyframes fade-resume {
    transition: opacity 4s ease-in-out;
}

@keyframes draw-border {
    0% {
        border-color: transparent;
    }
    25% {
        border-top-color: blue;
    }
    50% {
        border-top-color: blue;
        border-right-color: blue;
    }
    75% {
        border-top-color: blue;
        border-right-color: blue;
        border-bottom-color: blue;
    }
    100% {
        border-color: blue;
    }
}

/* Animation to fill the background */
@keyframes fill-background {
    from {
        background-color: rgba(0, 0, 255, 0);
    }
    to {
        background-color: rgba(0, 0, 255, 0.2); /* Semi-transparent blue */
    }
}

/*
@keyframes zoom-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}
*/

/* Specific rectangle positions and sizes */
/* .highlight-profile {
    top: 20%;
    left: 44%;
    width: 36%;
    height: 10%;
}

.highlight-work {
    top: 30.75%;
    left: 44%;
    width: 36%;
    height: 47%;
}

.highlight-certifications {
    top: 79%;
    left: 44%;
    width: 36%;
    height: 9%;
}

.highlight-contact {
    top: 20%;
    left: 20%;
    width: 23.5%;
    height: 13%;
}

.highlight-skills {
    top: 34%;
    left: 20%;
    width: 23.5%;
    height: 15%;
}

.highlight-education {
    top: 50%;
    left: 20%;
    width: 23.5%;
    height: 19%;
}

.highlight-languages {
    top: 70%;
    left: 20%;
    width: 23.5%;
    height: 18%;
} */