body, html {
    height: 100%;
    margin: 0;
}
.full-height-image {
    max-height: 90%;
    margin: auto;
    object-fit: cover;
    opacity: 0;
}

.fade-in {
    animation: fade-in 4s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes delayed-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.delayed-fade-in {
    animation: delayed-fade-in 2s ease-in forwards;
    animation-delay: var(--fade-delay, 0s); /* Use CSS variable for delay */
}

.image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.highlight{
    position: absolute;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 255, 0); /* Semi-transparent blue */
    animation: draw-border 4s ease forwards, fill-background 4s ease forwards 2s, zoom-out 2s ease forwards 4s;
    animation-delay: 3s;
}

@keyframes draw-border {
    0% {
        border-color: transparent;
    }
    25% {
        border-top-color: blue;
    }
    50% {
        border-top-color: blue;
        border-right-color: blue;
    }
    75% {
        border-top-color: blue;
        border-right-color: blue;
        border-bottom-color: blue;
    }
    100% {
        border-color: blue;
    }
}

/* Animation to fill the background */
@keyframes fill-background {
    from {
        background-color: rgba(0, 0, 255, 0);
    }
    to {
        background-color: rgba(0, 0, 255, 0.1); /* Semi-transparent blue */
    }
}